body {
  font-family: "Century Gothic", Futura, sans-serif;
  font-size: 14px;
}

.game {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-square {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.square {
  flex: 1 0 33.333%;
  max-width: 33.333%;
  background: #fff;
  border: 1px solid #999;
  font-size: 50px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}
