body {
  font-family: "Century Gothic", Futura, sans-serif;
  font-size: 14px;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

.board-row {
  display: flex;
}

.square {
  flex: 1 1;
  background: #fff;
  border: 1px solid #999;
  font-size: 50px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}
